body {
	margin: 0;
	padding: 0;
    font-family: sans-serif;
   	max-width: 98.2vw;	
}

a{
    text-decoration: none;
    color: white;
    font-size: 1.5rem;
}



.buy{
    color: black;
    display:block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 60px;
    background-color: rgba(78, 78, 78, 0.199);
    width: 50%;
    margin-top: 2%;
    margin-bottom: 3%;
    padding-top: 1%;
    padding-bottom: 1%;
    font-size: 1rem;
}

.buy:hover{
    background-color: rgba(143, 143, 143, 0.199);
}

.headerPic{
    position: relative;
    
    
}

.headerTextBox{
    position: absolute;    
    z-index: 1;
    margin-left: auto;
    margin-right: auto;
}

.headerText{
    font-size:  10rem;
    color: white;
    margin: 0%;
    
}

.header{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 8vh;  
}

.navigation{    
    position: fixed;
    display: flex;
    justify-content: space-around;
    align-items: center; 
    width: 100vw;
    margin-left: auto;
    margin-right: auto;    
    z-index: 3;
    top: 0;    
    background-color: rgba(0, 0, 0, 0.521);    
    
}

.element{
    width: auto;
    height: 2%;
    padding-top: 1.5%;
    padding-bottom: 1.5%;
}

.flex-container {
    grid-row-gap: 7vh;
	display: grid;    
    grid-template-columns: auto auto auto;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 3vh;
}

.shopelement{  
    width: 80%;
    height: 100%;
    background-color: #ffffffa2;
    border-radius: 4%;
	box-shadow: 0px 0px 9px 1px rgba(0, 0, 0, 0.2);
    text-align: center;
    margin-left: auto;
    margin-right: auto;
   
}

#activ{
    border-bottom: 0.2vh #ffffff solid ;
}

.prductpic{
    width: 60%;
    margin-top: 3%;
}

.infoBox{
    grid-row-gap: 7vh;
    column-gap: 5vw;
	display: grid;    
    grid-template-columns: auto auto ;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 3vh;
}

.textBox{
    font-size: 1.5rem;  
    
}



.infoPic{
    width: 100%;
}







	
@media (min-width:0px) and (max-width:940px){
	.headerPic{
        opacity: 0;
    }

    .navigation{
        display: inline;
        position: absolute;
        box-shadow: 0px 0px 9px 1px rgba(0, 0, 0, 0.5);
    }

    .element{
        height: 2%;
        width: auto;
        text-align: center;        
    }

    a{
        color: white;
        font-size: 6vh;        
    }

    .headerText{
        opacity: 0;
        font-size: 0%;
    }
    .header{
        display: inline;
    }

    .flex-container{
        grid-template-columns: auto;
        margin-top: 5vh;
    }

    .infoBox{
        grid-template-columns: auto;
    }

    
}


	
@media (min-width:940px) and (max-width:1200px){
    .flex-container{
        grid-template-columns: auto auto;
    }
	
}